<ng-include src="'views/mainMenu.html'"></ng-include>



<h2>{{ vm.title }}</h2>

{{vm.test}}

<div ng-hide="vm.list.length" class="alert alert-primary" role="alert">
    Пусто
</div>


<table ng-show="vm.list.length" class="shadow-lg p-3 mb-5 rounded table table-responsive">
    <thead>
    <tr>
<!--        <th>id</th>-->
        <th>Материал</th>
        <th>Силуэт</th>
        <th>Цвет</th>
        <th>Страна производитель</th>
        <th>Адрес доставки</th>
        <th>Дата оформления заказа</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="line in vm.list">
<!--        <td>{{line._id}}</td>-->
        <td>{{line.material}}</td>
        <td>{{line.mod}}</td>
        <td>{{line.color}}</td>
        <td>{{line.country}}</td>
        <td>{{line.pattern}}</td>
        <td>{{line.orderdate}}</td>
        <td>


            <a href="/#!/update/{{line._id}}" class="btn btn-warning btn-sm">Редактировать заказ</a>
            <a href="/#!/delete/{{line._id}}" class="btn btn-danger btn-sm">Завершить заказ</a>


        </td>
    </tr>
    </tbody>
</table>