


<ul class="nav" id="super-menu">
        <li class="nav-item"><a class="nav-link btn btn-info" href="/#!/list">Список заказов</a></li>
        <li class="nav-item"><a class="nav-link btn btn-success" href="/#!/create">Составить заказ</a></li>
        <li class="nav-item"><a class="nav-link btn btn-info" href="/#!/logout">Выход</a></li>
</ul>




<!--
<div class="btn-group" role="group" aria-label="Basic example" id="super-menu">
    <button type="button" class="btn btn-secondary" href="/#!/list">Список авто</button>
    <button type="button" class="btn btn-secondary" href="/#!/create">Постивить авто на учёт</button>
    <button type="button" class="btn btn-secondary" href="/#!/logout">Выход</button>
</div>

<div class="form-row">
    <div class="list-group">

        <a class="nav-link btn btn-info" href="/#!/list">Список авто</a>
        <a class="nav-link btn btn-success" href="/#!/create">Постивить авто на учёт</a>
        <a class="nav-link btn btn-secondary" href="/#!/logout">Выход</a>

    </div>
    <img src="/images/1.jpg" >
</div>
-->
